@import url("https://fonts.googleapis.com/css?family=Lobster");

* {
  margin: 0;
  padding: 0;
}

.main-title {
  margin: 0% 1%;
  text-align: left;
  font-size: 55px;
  font-family: "Lobster";
  color: white;
  text-shadow: 0.09em 0.09em #000;
}

/* ParticleJS */
#particles-js {
  background-color: #181a2c;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.acctHead{
    margin: 5%  auto 1%;
    text-align: center;
    font-size: 55px;
    font-family: "Lobster";
    color: white;
    text-shadow: 0.09em 0.09em #000;  
}

#btnReturn{
    margin: -3% 1%;
    float: right;
    font-size: 20px;
    font-family: "Block";
    color: black;
}

.homeBtns {
    font-family: "Lobster";
    text-align: center;
    margin: 10% auto;
    position: center;
    top: 08%;
    width: 20%;
}

#btnAuth {
    background: #f44336;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    font-size: 24px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 15px; /* for the gap */
    width: 100%;
}

#btnLookUp {
    background: #f44336;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    font-size: 24px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: .1em;
    
}
