.bgimg {
    background-image: url('/images/sunset-over-the-rocky-beach.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

body,h1 {font-family: "Raleway", sans-serif}

body, html {height: 100%}

.btnHome {
    background-color: ghostwhite; 
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    font-style: oblique;
    display: inline-block;
    font-size: 16px;
}
