@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

/* Main Content */
#container {
  position: relative;
  z-index: 100;
}

.main-title {
  margin: 20% auto 0%;
  text-align: center;
  font-size: 75px;
  font-family: "Lobster";
  color: white;
  text-shadow: 0.09em 0.09em #000;
}

#custom {
  margin: 5% auto;
  width: 50%;
}

.btn {
  position: relative;
  border: 0 !important;
  &:focus {
    outline: 0;
  }
  &:hover {
    top: 2px;
  }
  &:active {
    top: 6px;
  }
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-weight: bold !important;
}

.btn-primary {
  .btn(#428bca);
}

/* ParticleJS */
#particles-js {
  background-color: #181a2c;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
