<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Impression</title>
    <meta name="description" content="learning from images">
    <meta name="author" content="Dominic Young">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="cover">
        <div class="auth-btn">
            <div class="left-btns">
                <div class="relative">
                    <a class="nav-btn" href="#" id="signIn" data-value="signin-block">Sign In</a>
                </div>
                <div class="relative">
                    <a class="nav-btn" href="#" id="signUp" data-value="signup-block">Sign Up</a>
                </div>
            </div>
            <button class="right-btns">
                <a class="nav-btn" href="#" id="fp" data-value="demo-block">Demo</a>
            </button>
        </div>
        <div class="auth-body">
            <div class="login-block input-block">
                <form action="/login" method="post">
                    <input class="input-field" type="email" name="email" placeholder="Email *" />
                    <input class="input-field" type="password" name="password" placeholder="Password" />
                </form>
            </div>
            <div class="signup-block input-block">
                <form action="/signup" method="post">
                    <input class="input-field" type="email" name="email" placeholder="Email" />
                    <input class="input-field" type="password" name="email" placeholder="Password" />
                </form>
            </div>
            <div class="demo-block input-block">
                <form action="/demo" method="post">
                    <button class="input-field" type="submit" placeholder="Email" />
                </form>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</body>

<!-- public/js -->
<script src="js/index.js"></script>
<script src="js/particles.min.js"></script>

</html>