<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Impression</title>
    <meta name="description" content="learning from images">
    <meta name="author" content="Dominic Young">

    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/modal.css" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
</head>

<body>
    <div id="container">
        <!-- main title -->
        <h1 class="main-title animated fadeInUpBig">Impression</h1>

        <!-- file browser & search bar -->
        <div class="form-group animated fadeInDownBig">
            <div class="input-group" id="custom">
                <input type="text" onkeyup="handle(event)" class="form-control" id="url" placeholder='Image URL...' />
                <span class="input-group-btn">
                    <button class="btn btn-default btn-choose" id="analyze" type="button" onclick="processImage();" style="background-color: red;">
                        <i class="fa fa-search-plus" aria-hidden="true" style="color: white ;"></i>
                    </button>
                </span>
            </div>
            <div class="text-center input-file">
                <button type="button" id="url" class="btn btn-primary btn-lg" name="dom-file-upload">Browse...</button>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="ModalLabel">Results</h4>
                </div>
                <div class="modal-body" id="modal-results">
                    <img id="sourceImage" width="400" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="javascript:window.location.reload()" data-dismiss="modal">Close</button>
                    <button type="submit" id="save-results" class="btn btn-primary">Save Results</button>
                </div>
            </div>
        </div>
    </div>

    <!-- display email top right -->
    <div class="sign-out">
        <p>
            <%= user.email %>
        </p>
        <form action="/logout" method="get">
            <button type="submit">Sign Out</button>
        </form>
    </div>
    <div id="particles-js"></div>
</body>

<!-- scripts -->
<script src="js/particles.min.js"></script>
<script src="js/helpers.js"></script>
<script src="js/process.js"></script>
<script src="js/tts.js"></script>

</html>